.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
body{background-image:url(395515.jpg);
	background-size: cover;
	margin: 0px;
	}

h1{
	/*font-family: 'Pacifico', cursive;*/
	font-family: 'Special Elite', cursive;
	font-family: 'Fredericka the Great', cursive;
	color:	#636c7e;
	font-size: 5em;
	/*border-bottom: 1.5px solid #120206;
	border-right:1.5px solid #120206;
	box-shadow: 3px 3px 3px #88888888;
		/*-webkit-text-stroke: .5px  #ccd7ff;*/
		text-shadow: 5px 5px 5px #88888888; 
		width: 700px;
		text-align:center;
		 word-wrap: break-word;
		 line-height: 50px;

}
img {
	width: 300px;
	height: 200px;
	margin: 20px;
	transition: all 1s;
}
img:hover {
	transform: scale(1.2);
	animation: 
}
